@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Regular.woff') format('woff'),
       url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

#navbar {
	top: 0px !important;
}

#dvid {
	width: 100%;
	height: 600px;
	margin-top: 180px;
	margin-bottom: 190px;
}

#LGFvid {
	margin-top: 5vh;
	height: 90vh;
	position: relative;
	display: flex;
	justify-content: center;
	border-radius: 7px;
	overflow: hidden;
	flex-basis: 100%;
}

#LGFvid video {
	height:100%;
	grid-column: 1;
  grid-row: 1;
  border-radius: 7px;
	overflow: hidden;
}

#LGFvid img {
	width: 80px;
	z-index: 1;
	margin: auto;
	text-align: center;
	grid-column: 1;
  grid-row: 1;
  position: absolute;
  top: 7%;
}

#DFlogo {
	background-color: #21201d;
}

#logo_1DF {
	width: 350px;
}

.posters {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 1%;
}

#palette {
	background-color: #ece8e5;
	padding: 100px 0;
}

#ptposter {
	width: 820px;
	margin-bottom: 0px;
	display: flex;
	justify-content: space-between;
}

.sqimg2 {
	width: 360px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.sqimg2 img {
		width: 100%;
		height: fit-content;
	}


.ptbox {
	width: 270px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#ptlines {
	width: 440px;
	height: 450px;
	left: -40px;
	bottom: 0;
	border-inline: 1px solid black;
	position: absolute;
}

#ptdf {
	width: 55px;
	position: absolute;
	bottom: 20px;
	right: 0px;
}

#one_im {
	max-width: 1400px;
}

#palette2 {display: none;}

#palette1 {display: block;}

#fpB1 {
	background-color: #d4e6e8;
} 

#fpB2 {
	background-color: #F2DEC9;
} 

#fpB3 {
	background-color: #D6E4CD;
} 

.fpB img {
	height: 110%;
	position: absolute;
	top: 0;
}

#mockupFP {
	width: 510px;
}

.sketch {
	display: flex;
	align-items: center;
	height: 600px;
}

.sketch img {
	width: 31.5vw;
	margin-right: 100px;
}

.single {
	width: 700px;
}

#W_band {
	background-color: #4E0417;
}

#W_band img {
	height: 130px;
}

#logo_closer {
	position: absolute;
	z-index: 1;
	width: 20vw;
	transition: .5s ease;
 }

 #logo_closer:hover {
	filter: blur(5px);
 }

#closer_ui {
	background-color: black;
	height: initial;
}

#closer_ui img {
	width: 500px;
	margin-bottom: 20px;
	z-index: 1;
}

#closer_ui video {
	position: absolute;
	height: 100%;
}

.posterA {
	height: 90vh;
}

@media only screen and (max-width: 980px) {

	#palette1 , #ptlines , #ptdf , #LGFv3 {display: none !important;}

	#palette2 {display: block;}

	.posterA {
	height: initial;
	width: 100%;
}

	#DFlogo {
		height: 480px;
	}

	#logo_1DF {
		width: 450px;
	}

	#palette {
		margin-bottom: 100px;
		padding: 0;
	}

	.sqimg2 {
		width: 50%;
	}

	.sqimg2 svg {
		display: none;
	}

	#ptposter {
		height: fit-content;
		width: 100%;
	}

	#sqimg2R {
		height: 736px;
	}

	#sqimg2L {
		height: 653px;
	}

	.ptbox {
		margin: auto;
		width: 75%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sketch {
	flex-wrap: wrap;
	justify-content: center;
	height: initial;
	}

	.sketch img {
	width: 680px;
	margin-right: 0;
	margin-bottom: 130px;
}

#mockupFP , .single {
	width: 100%;
}

.posters {
	gap: 2%;
}

#LGFvid {
	margin-top: 0;
	width: 100%;
	height: initial;
	position: relative;
	display: flex;
	justify-content: center;
	border-radius: 0px;
}

#LGFvid video {
	height:100%;
	grid-column: 1;
  grid-row: 1;
}

#dvid {
	margin-top: 300px;
}

#logo_closer {
	width: 50vw;
	top: 27%;
 }

 #closer_ui video {
 	object-fit: cover;
 }

 #closer_ui img {
	width: 70%;
}

}