* {
	margin:0;
	padding: 0;
}

footer button a:hover {
	border: 3px ridge rgba(0, 0, 0, 0);
}

#topheader .dropdown {display: none;}

.contact {
	font-size: 17.85px;
	font-weight: 100;
}

body {
	width: 100%;
	background-color: #ffffff;
}	

::-moz-selection { background: SpringGreen; }
::selection { background: SpringGreen; }

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Regular.woff') format('woff'),
       url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #dbdbdb;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}
	
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/*links*/

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:active {
	color: black;
}

.text {
	font-family: 'ClashDisplay-Semibold', sans-serif; 
	}
	
.weight {
	font-family: stolzl, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.color {
	
	color: #1e1e1e;
}

ul {
	
    list-style-type: none;
}
	
header {
	height: 650px;
	display: flex;
	justify-content: left;
	align-items: center;
	margin: auto;
}

#logo {
	width: 61vw;
	margin-top: -30px;
	margin-left: 7vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#logo:hover #matheus {
	margin-left: -46px;
}

#logo:hover #martins {
	margin-left: 46px;
}

#matheus {
	height: 9.375vw;
	margin-bottom: 20px;
	transition: .4s ease;
}

#martins {
	height: 8.333vw;
	margin-left: 9px;
	transition: .4s ease;
}

#pnav {
	display: none;
}

#line {
	border-bottom: 1px solid rgb(0, 0, 0);
	width: 18.1vw;
	transform: rotate(-60deg);
	transform-origin: right;
	background-color: blue;
	margin-left: -6.5vw;
}

#area {
	width: 25.8vw;
	height: 261px;
	margin-top: 20px;
	margin-left: 20px;
}

#area2 {
	font-family: 'ClashDisplay-Regular';
	font-size: 1.7vw;
	line-height: 40pt;
	margin-left: 10vw;
	margin-top: 60px;
}

#des {
	margin-left: 70px;
}

#art {
	margin-left: 30px;
}

#drop {
	width: 50px;
	margin-right: 260px;
}

section {
	display: flex;
}

#block {
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow:hidden;
	transition: .3s ease;
}

article:hover #block{
	height: 700px;
}

article:hover img{
	opacity: 0.9;
}

article:hover figcaption {
	bottom: -4px;
}

article {
	width: 570px;
	height: 760px;
	position: relative;
	margin-bottom: 160px;
}

article img {
	width: 100%;
	transition: .3s ease;
}

figcaption {
	font-size: 20pt;
	text-align: left;
	width: 96%;
	position: absolute;
	right: 0;
	bottom: 30px;
	z-index: -1;
	transition: .4s ease;
	line-height: 15pt;
}

#bline {
	width: 0%;
	border-bottom: 1px solid rgb(0, 0, 0);
	position: absolute;
	bottom: 0;
	margin-bottom: -25px;
	transition: .4s ease;
}

article:hover #bline {
	width: 100%;
}

.desc {
	font-family: 'ClashDisplay-Regular';
	font-size: 14pt;
}

nav {
	width: 100%;
	height: 70px;
	background-color: white;
	margin-bottom: 100px;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 30px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#logo2 {
	height: 70px;
	display: flex;	
}

#line2 {
	width: 0px;
	height: 0px;
	border-bottom: 1px solid rgb(0, 0, 0);
	transition: .4s ease;
	position: relative;
	top: 35px;
}

#logo2:hover #line2 {
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
}

#matheus2 {
	width: 150px;
	margin-right: 5px;
}

#martins2 {
	width: 133px;
	transition: .2s ease;
	margin-top: 2px;
	margin-left: 5px;
}

#content {
	width: 100%;
	height:900px;
	position: relative;
}

#grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

#grid2 {
	margin-top: 70px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

#grid2 img {
	margin-bottom: 60px;
}

iframe {
	width: 100%;
	height: 563px;
	margin-bottom: 50px;
}

h4 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
	display: block;
	width: 100%;
}

#videoH , #videoL {
	margin: auto;
}

#videoH video {
	max-width: 1920px;
}

#videoL video {
	max-width: 750px;
}

#videoV {
	display: none;
}

html {
	scroll-behavior: smooth;
}

/* @media screen and (min-resolution: 120dpi) { 
body {zoom: 0.8;}
} */

@media only screen and (max-width: 1719px) {

#logo {
	line-height: 1;
	font-size: 80px;
	margin-bottom: 21px;
}

#grid {
	justify-content: space-evenly;
}

article {
	width: 33.06vw;
	height: 45vw;
	margin-bottom: 9.334vw;
}

article:hover #block{
	height: 40.5vw;
}

#line {
	margin-top: 0px;
}

#area2 {
	margin-top: 40px;
}

}

@media only screen and (max-width: 1218px) {

article {
	width: 40vw;
	height: 53.5vw;
	margin-bottom: 9.334vw;
}

article:hover #block{
	height: 48vw;
}

figcaption {
	font-size: 18pt;
	bottom: 3.285vw;
}

.desc {
	font-size: 12pt;
}

#line {
	margin-top: 30px;
}

#area2 {
	margin-top: 30px;
	line-height: 30pt;
}

}

@media only screen and (max-width: 990px) {
	
footer , .language , ::-webkit-scrollbar , ::-webkit-scrollbar-track , ::-webkit-scrollbar-thumb , ::-webkit-scrollbar-thumb:hover {
	display:none;
}
	
figcaption {
	bottom: 0;
	font-size: 5vw;
	line-height: 4vw;

}	

.desc {
	font-size: 3.7vw;
}

#grid a {
	width: 100%;
}

#block {
	background-color: transparent;
}

article {
	width: 100%;
	height: 147vw;
}

article:hover #bline {
	width: 0%;
}

article:hover #block{
	height: 133.4vw;
}

article:hover img{
	opacity: 1;
}

article:hover figcaption {
	bottom: 0;
}

header {
	height: 80vw;
	display: block;
	text-align: center;
}

header a {
	margin-top: 0;
}

#line {
	display: none;
}

#logo {
	margin-left: 0;
	margin-bottom: 0;
	width: 100%;
	position: relative;
	top: 29vw;
}

#area {
	display: none;
}

#pnav {
	display: block;
	position: relative;
	top: 52vw;
	font-family: 'ClashDisplay-Regular';
	font-size: 3vw;
	line-height: 5.3vw;
}

}	