* {
	margin:0;
	padding: 0;
}

footer button a:hover {
	border: 3px ridge rgba(0, 0, 0, 0);
}

#topheader .dropdown {display: none;}

.contact {
	font-size: 17.85px;
	font-weight: 100;
}

body {
	width: 100%;
	background-color: #ffffff;
}	

::-moz-selection { background: SpringGreen; }
::selection { background: SpringGreen; }

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Regular.woff') format('woff'),
       url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #dbdbdb;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}
	
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/*links*/

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:active {
	color: black;
}

.text {
	font-family: 'ClashDisplay-Semibold', sans-serif; 
	}
	
.weight {
	font-family: stolzl, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.color {
	
	color: #1e1e1e;
}

ul {
	
    list-style-type: none;
}
	
header {
	height: 800px;
	display: flex;
	justify-content: center;
	margin: auto;
}

#icon {
	margin: auto;
	width: 300px;
	position: absolute;
	top: 325px;
}

#icon img {	pointer-events: none; }

.dot {
  background-color: #333333;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: .4s ease;
  height: 56px;
  width: 56px;
 } 

 .doth {
 	position: absolute;
 }

 #dot1 {
  left: 0px;
  top: 0px;
  /*animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 }

 @keyframes example {
  0%   {left: 0px; top: 0px; height: 56px; width: 56px;}
  50%   {left: 14px; top: 14px; height: 40px; width: 40px;}
  100%   {left: 0px; top: 0px; height: 56px; width: 56px;}*/
 }

 #doth1 {
 	height: 56px;
  width: 56px;
  left: 0;
  top: 0;
 }

 #doth1:hover #dot1{
 	left: 14px;
  top: 14px;
 	height: 40px;
 	width: 40px;
 }

 #dot2 {
  right: 0;
  top: 0;
 }

 #doth2 {
 	height: 56px;
  width: 56px;
  left: 0px;
  bottom: 4px;
 }

 #doth2:hover #dot2{
 	height: 45px;
 	width: 45px;
 }

 #dot3 {
 	bottom: 0;
 	left: 0;
 }

 #doth3{
 	height: 56px;
  width: 56px;
  left: 122px;
  top: 0px;
 }

 #doth3:hover #dot3{
  bottom: 0;
  left: 8px;
 	height: 40px;
 	width: 40px;
 }

 #dot4 {
 	left: 0;
 	top: 0;
 }

 #doth4{
 	height: 56px;
  width: 56px;
  left: 61px;
  bottom: 4px;
 }

 #doth4:hover #dot4{
 	left: 8px;
  top: 0px;
 	height: 40px;
 	width: 40px;
 }

 #dot5 {
 	top: 0;
 	right: 0;
 }

 #doth5{
 	height: 56px;
  width: 56px;
  left: 183px;
  bottom: 4px;
 }

 #doth5:hover #dot5{
 	right: 8px;
  top: 0;
 	height: 40px;
 	width: 40px;
 }

 #dot6 {
 	top: 0;
 	right: 0;
 }

 #doth6{
 	height: 56px;
  width: 56px;
  left: 244px;
  top: 0px;
 }

 #doth6:hover #dot6{
 	right: 14px;
  top: 14px;
 	height: 40px;
 	width: 40px;
 }

 #dot7 {
 	left: 0;
 	top: 0;
 }

 #doth7{
 	height: 56px;
  width: 56px;
  right: 0px;
  bottom: 4px;
 }

 #doth7:hover #dot7{
 	height: 45px;
 	width: 45px;
 }

#logo {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: column nowrap;
	justify-content: center;
}

#logo:hover #matheus {
	margin-bottom: 13px;
}

#logo:hover #martins {
	margin-top: 13px;
}

#logo:hover #line3 {
	height: 90px;
}

#matheus {
	width: 150px;
	margin-bottom: 5px;
	transition: .4s ease;
}

#martins {
	width: 133px;
	margin-left: 9px;
	transition: .4s ease;
}

#line3 {
	width: 0px;
	height: 0px;
	border-left: 1px solid rgb(0, 0, 0);
	transition: .4s ease;
	margin: auto;
}

#drop {
	width: 50px;
	margin-right: 260px;
}

section {
	display: flex;
}

#grid {
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1400px;
}

article {
	width: 430px;
	max-width: 430px;
	height: 570px;
	position: relative;
	margin-bottom: 100px;
}

article:hover #block{
	height: 89%;
}

article:hover img{
	opacity: 0.9;
}

article:hover figcaption {
	bottom: -0.5%;
}

article img {
	width: 100%;
	transition: .3s ease;
}

#block {
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow:hidden;
	transition: .3s ease;
	border-radius: 15px;
}

figcaption {
	font-size: 20pt;
	text-align: left;
	width: 96%;
	position: absolute;
	right: 0;
	bottom: 4.28%;
	z-index: -1;
	transition: .4s ease;
	line-height: 17pt;
}

#bline {
	width: 0%;
	border-bottom: 1px solid rgb(0, 0, 0);
	position: absolute;
	bottom: 0;
	margin-bottom: -3.57%;
	transition: .4s ease;
}

article:hover #bline {
	width: 100%;
}

.desc {
	font-family: 'ClashDisplay-Regular';
	font-size: 14pt;
}

nav {
	width: 100%;
	height: 70px;
	background-color: white;
	margin-bottom: 100px;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 30px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#logo2 {
	height: 70px;
	display: flex;	
}

#line2 {
	width: 0px;
	height: 0px;
	border-bottom: 1px solid rgb(0, 0, 0);
	transition: .4s ease;
	position: relative;
	top: 35px;
}

#logo2:hover #line2 {
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
}

#matheus2 {
	width: 150px;
	margin-right: 5px;
}

#martins2 {
	width: 133px;
	transition: .2s ease;
	margin-top: 2px;
	margin-left: 5px;
}

#content {
	width: 100%;
	height:900px;
	position: relative;
}

iframe {
	width: 100%;
	height: 563px;
	margin-bottom: 50px;
}

h4 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
	display: block;
	width: 100%;
}

#videoH , #videoL , #videoV{
	margin: auto;
}

#videoH video {
	max-width: 1920px;
	width: 100%;
}

#videoL video {
	max-width: 750px;
}

#videoV {
	display: none;
}

html {
	scroll-behavior: smooth;
}

/* @media screen and (min-resolution: 120dpi) { 
body {zoom: 0.8;}
} */


@media only screen and (max-width: 1520px) {

	figcaption {
	font-size: 18pt;
	}

 article {
	height: 500px;
	width: 375px;
 }

 #grid {
	justify-content: space-evenly;
	width: 98%;
 }

 }

@media only screen and (max-width: 1326px) {

article {
	height: 570px;
	width: 430px;
}

}

@media only screen and (max-width: 990px) {


footer , .language , ::-webkit-scrollbar , ::-webkit-scrollbar-track , ::-webkit-scrollbar-thumb , ::-webkit-scrollbar-thumb:hover {
	display:none;
}
	
figcaption {
	bottom: -12vw;
	font-size: 5vw;
	line-height: 4vw;
}	

.desc {
	font-size: 3.7vw;
}

#grid {
	width: 80%;
	justify-content: center;
}

#block {
	background-color: transparent;
	height: 100%;
}

article {
	margin-bottom: 27vw;
	width: 80vw;
	max-width: 100%;
	height: 106vw;
}

article:hover #block {
	height: 100%;
}

article:hover #bline {
	width: 0%;
}

article:hover img{
	opacity: 1;
}

article:hover figcaption {
	bottom: -12vw;
}

#videoH {
	display: none;
}

#videoV {
	display: inline;
	width: 100%;
}

#videoL video {
	width: 100%;
}

}	