* {
	margin:0;
	padding: 0;
}

footer button a:hover {
	border: 3px ridge rgba(0, 0, 0, 0);
}

#topheader .dropdown {display: none;}

.contact {
	font-size: 17.85px;
	font-weight: 100;
}

html {
	scroll-behavior: smooth;
	width: 100vw;
	overflow-x:hidden;
}


body {
	width: 100vw;
	background-color: #fcfcfc;
}

::-moz-selection { background: SpringGreen; }
::selection { background: SpringGreen; }

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Regular.woff') format('woff'),
       url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
  /*background-color: #dbdbdb;
  border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}
	
::-webkit-scrollbar-thumb:hover {
  background: grey;
} 


/*links*/

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:active {
	color: black;
}

.text {
	font-family: 'ClashDisplay-Semibold', sans-serif; 
	}

.color {
	
	color: #1e1e1e;
}

ul {
	
    list-style-type: none;
}

#back {
	width: 100vw;
	position: absolute;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#w_background {
	margin: auto;
	z-index: -1;
	width: 1920px;
}
	
header {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100vw;
}

#navbar {
	height: 80px;
	width: 100vw;
	position: fixed;
	top: -80px;
	display: flex;
	justify-content: left;
	align-items: center;
	z-index: 1;
	transition: top 0.3s;
}

#navbarwork {
	height: 80px;
	width: 100vw;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: left;
	align-items: center;
	z-index: 1;
}


#navlogo {
	width: 65px;
	margin-left: 30px;
}

#ov {
	mix-blend-mode: lighten;
	z-index: 1;
	pointer-events: none;
	object-fit: cover;
	width: 1000px;
	position: relative;
	grid-column: 1;
  grid-row: 1;
}

#iconH {
	margin: auto;
	width: 800px;
	position: relative;
	top: -2vh;
	transition: .4s ease;
	grid-column: 1;
  grid-row: 1;
}

#icon img {	pointer-events: none; }

.st1 , .dot , .dotty {
	fill:black;
	background-color: black;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
   	transition: 1s ease;
 } 

 .dotty {
  display: inline-block;
  position: absolute;
  transition: 1s ease;
  height: 100%;
  width: 100%;
 } 

 .doth {
 	position: absolute;
 }

 #dot1 {

  left: 0;
  top: 0;
  /*animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 }

 @keyframes example {
  0%   {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 25%; top: 25%; height: 71.428%; width: 71.428%;}
  100%   {left: 0px; top: 0px; height: 100%; width: 100%;}*/
 }

 #doth1 {
 	height: 46.2%;
  width: 18.666%;
  left: 0;
  top: 1%;
 }

 #doth1:hover #dot1{
 	left: 18%;
  top: 18%;
 	height: 80%;
 	width: 80%;
 }

 #dot2 {
  right: 0;
  top: 0;
 }

 #doth2 {
 	height: 46.2%;
  width: 18.666%;
  left: 0.1%;
  bottom: 2.7%;
 }

 #doth2:hover #dot2{
 	height: 80.357%;
 	width: 80.357%;
 }

 #dot3 {
 	bottom: 0;
 	left: 0;
 }

 #doth3{
 	height: 46.2%;
  width: 18.666%;
  left: 40.666%;
  top: 1%;
 }

 #doth3:hover #dot3{
  bottom: 0;
  left: 10%;
 	height: 80%;
 	width: 80%;
 }

 #dot4 {
 	left: 0;
 	top: 0;
 }

 #doth4{
 	height: 46.2%;
  width: 18.666%;
  left: 20.333%;
  bottom: 2.5%;
 }

 #doth4:hover #dot4{
 	left: 10%;
  top: 0;
 	height: 80%;
 	width: 80%;
 }

 #dot5 {
 	top: 0;
 	right: 0;
 }

 #doth5 {
 	height: 46.2%;
  width: 18.666%;
  left: 61%;
  bottom: 2.5%;
 }

 #doth5:hover #dot5{
 	right: 10%;
  top: 0;
 	height: 80%;
 	width: 80%;
 }

 #dot6 {
 	top: 0;
 	right: 0;
 }

 #doth6 {
 	height: 46.2%;
  width: 18.666%;
  left: 81.333%;
  top: 1%;
 }

 #doth6:hover #dot6{
 	right: 18%;
  top: 18%;
 	height: 80%;
 	width: 80%;
 }

 #dot7 {
 	left: 0;
 	top: 0;
 }

 #doth7 {
 	height: 46.2%;
  width: 18.666%;
  right: 0.1%;
  bottom: 2.7%;
 }

 #doth7:hover #dot7 {
 	height: 80.357%;
 	width: 80.357%;
 }

  #dot8 {
 	left: 0;
 	bottom: 0;
 	border-radius: 0% 0% 1000px 1000px;
 	height: 50%;
 }

 #doth8 {
 	height: 48%;
  width: 18.666%;
  left: 40.666%;
  bottom: 3.2%;
 }

 #doth8:hover #dot8 {
 	height: 51%;
 	width: 102%;
 	left: -1%;
 	bottom: 12%;
 }

 #dot9 {
 	left: 0;
 	top: 0;
 	border-radius: 1000px 1000px 0% 0%;
 	height: 50%;
 }

 #doth9 {
 	height: 50%;
  width: 18.9%;
  left: 20.2%;
  top: 1.4%;
 }

 #doth9:hover #dot9 {
 	height: 51%;
 	width: 102%;
 	left: -1%;
 	top: 12%;
 }

 #dot10 {
 	left: 0;
 	top: 0;
 	border-radius: 1000px 1000px 0% 0%;
 	height: 50%;
 }

 #doth10 {
 	height: 50%;
  width: 18.9%;
  left: 60.93%;
  top: 1.4%;
 }

 #doth10:hover #dot10 {
 	height: 51%;
 	width: 102%;
 	left: -1%;
 	top: 12%;
 }

 .doth:hover .dot {
 	transition: .3s ease;
 }

 .doth:hover .dotty {
 	transition: .28s ease;
 }

#logo {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: column nowrap;
	justify-content: center;
}

#logo:hover #matheus {
	margin-bottom: 13px;
}

#logo:hover #martins {
	margin-top: 13px;
}

#logo:hover #line3 {
	height: 90px;
}

#matheus {
	width: 150px;
	margin-bottom: 5px;
	transition: .4s ease;
}

#martins {
	width: 133px;
	margin-left: 9px;
	transition: .4s ease;
}

#line3 {
	width: 0px;
	height: 0px;
	border-left: 1px solid rgb(0, 0, 0);
	transition: .4s ease;
	margin: auto;
}

#drop {
	width: 50px;
	margin-right: 260px;
}

#content {
	display: flex;
	width: 100vw;
	position: relative;
	justify-content: center;
	margin: auto;
}

#grid {
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1400px;
}

article {
	width: 430px;
	max-width: 430px;
	height: 570px;
	position: relative;
	margin-bottom: 100px;
}

article:hover #block {
	height: 89%;
}

article:hover .blockimg {
	opacity: 0.9;
}

article:hover #blocklogo {
	opacity: 1;
}

article:hover figcaption {
	bottom: -0.5%;
}

article img {
	width: 100%;
	transition: .3s ease;
}

#block {
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow:hidden;
	transition: .3s ease;
	border-radius: 8px;
}

figcaption {
	font-size: 20pt;
	text-align: left;
	width: 96%;
	position: absolute;
	right: 0;
	bottom: 4.28%;
	z-index: -1;
	transition: .4s ease;
	line-height: 17pt;
}

#bline {
	width: 0%;
	border-bottom: 1px solid rgb(0, 0, 0);
	position: absolute;
	bottom: 0;
	margin-bottom: -3.57%;
	transition: .4s ease;
}

article:hover #bline {
	width: 100%;
}

.desc {
	font-family: 'ClashDisplay-Regular';
	font-size: 14pt;
}

.textbox {
	width: 510px;
	margin-bottom: 130px;
}

.ptext {
	font-family: 'ClashDisplay-Regular', sans-serif;
	font-size: 13pt;
	line-height: 23pt;
}

.bold {
	font-family: 'ClashDisplay-Semibold', sans-serif;
}

.band {
	width: 100vw;
	height: 400px;
	flex-shrink: 0;
	display: flex;
}

#logo2 {
	height: 70px;
	display: flex;	
}

#line2 {
	width: 0px;
	height: 0px;
	border-bottom: 1px solid rgb(0, 0, 0);
	transition: .4s ease;
	position: relative;
	top: 35px;
}

#logo2:hover #line2 {
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
}

#matheus2 {
	width: 150px;
	margin-right: 5px;
}

#martins2 {
	width: 133px;
	transition: .2s ease;
	margin-top: 2px;
	margin-left: 5px;
}

#videoH , #videoL , #videoV{
	margin: auto;
}

#videoH video {
	max-width: 1920px;
	width: 100%;
}

#videoOV video {
	width: 100%;
}

#videoL video {
	max-width: 750px;
}

#videoV {
	display: none;
}

/* @media screen and (min-resolution: 120dpi) { 
body {zoom: 0.8;}
} */


@media only screen and (max-width: 1520px) {

	figcaption {
	font-size: 18pt;
	}

 article {
	height: 500px;
	width: 375px;
 }

 #grid {
	justify-content: space-evenly;
	width: 98%;
 }

 }

@media only screen and (max-width: 1326px) {

article {
	height: 570px;
	width: 430px;
}

}

@media only screen and (max-width: 990px) {


footer , .language , ::-webkit-scrollbar , ::-webkit-scrollbar-track , ::-webkit-scrollbar-thumb , ::-webkit-scrollbar-thumb:hover {
	display:none;
}

header {
	align-items: center;
	height: 90vh;
	margin-bottom: 5%;
	overflow: clip;
}

#ov {
	height: 70vh;
	width: 300px;
	position: relative;
	display: block;
	grid-column: 1;
  grid-row: 1;
}

#videoOV {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#videoOV video {
	width: auto;
	height: 100%;
}
	
figcaption {
	bottom: -12vw;
	font-size: 5vw;
	line-height: 4vw;
}	

.desc {
	font-size: 3.7vw;
}

#grid {
	width: 80%;
	justify-content: center;
}

#block {
	background-color: transparent;
	height: 100%;
}

article {
	margin-bottom: 27vw;
	width: 80vw;
	max-width: 100%;
	height: 106vw;
}

article:hover #block {
	height: 100%;
}

article:hover #bline {
	width: 0%;
}

article:hover img{
	opacity: 1;
}

article:hover figcaption {
	bottom: -12vw;
}

#videoH {
	display: none;
}

#videoV {
	display: inline;
	width: 100%;
}

#videoL video {
	width: 100%;
}

}	