#iconH {
	margin: auto;
	width: 1200px;
	position: relative;
	top: -2vh;
	transition: .4s ease;
	grid-column: 1;
  grid-row: 1;
}

 #iconH.blink {
    animation: blink 1.2s;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      scale: 0.95;
    }
    51% {
    	scale: 1;
    }
  }

#iconV {
  display: none;
}

#icon img {	pointer-events: none; }

.st1 , .dot , .dotty {
	fill:black;
	background-color: black;
}

#iconH .dot {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 1s ease;
 } 

 #iconH .dotty {
  display: inline-block;
  position: absolute;
  transition: 1s ease;
  height: 100%;
  width: 100%;
 } 

 #iconH .doth {
 	position: absolute;
 	height: 47.8%;
  width: 19.2%;
 }

 #iconH .dother {
 	position: absolute;
 	height: 46.2%;
  width: 18.666%;
 }

 #iconH .dothy {
 	position: absolute;
 	height: 50%;
  width: 18.9%;
 }

 #iconH #dot1 {
  left: 0;
  top: 0;
  animation-name: Adot1;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 }

 @keyframes Adot1 {
  0%,100%   {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 9%; top: 9%; height: 90%; width: 90%;}
 }

 #iconH #doth1 {
 	height: 47.3%;
  width: 19%;
  left: 0%;
  top: 1%;
 }

 #iconH #doth1:hover #dot1{
 	left: 18%;
  top: 18%;
 	height: 80%;
 	width: 80%;
 }

 #iconH #dot2 {
  right: 0;
  top: 0;
  animation-name: Adot2;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
 }

 @keyframes Adot2 {
  0%   {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 15%; bottom: 18%; height: 85%; width: 85%;}
  100%   {left: 0px; top: 0px; height: 100%; width: 100%;}
 }

 #iconH #doth2 {
  left: 0.1%;
  bottom: 2.6%;
 }

 #iconH #doth2:hover #dot2{
 	height: 80.357%;
 	width: 80.357%;
 }

 #iconH #dot3 {
 	bottom: 0;
 	left: 0;
 	animation-name: Adot3;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .8s;
 }

 @keyframes Adot3 {
  0%,100%  {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 5%; top: 10%; height: 90%; width: 90%;}
 }

 #iconH #doth3{
  left: 40.45%;
  top: 0.8%;
 }

 #iconH #doth3:hover #dot3{
  bottom: 0;
  left: 10%;
 	height: 80%;
 	width: 80%;
 }

 #iconH #dot4 {
 	left: 0;
 	top: 0;
 	animation-name: Adot4;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .6s;
 }

 @keyframes Adot4 {
  0%,100%   {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 6%; bottom: 9%; height: 90%; width: 90%;}
 }

 #iconH #doth4{
  left: 20%;
  bottom: 1.8%;
 }

 #iconH #doth4:hover #dot4{
 	left: 10%;
  top: 0;
 	height: 80%;
 	width: 80%;
 }

 #iconH #dot5 {
 	top: 0;
 	right: 0;
 	animation-name: Adot5;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1.4s;
 }

 @keyframes Adot5 {
  0%,100%  {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 5.5%; bottom: 9%; height: 90%; width: 90%;}
 }

 #iconH #doth5 {
  left: 60.75%;
  bottom: 1.8%;
 }

 #iconH #doth5:hover #dot5{
 	right: 10%;
  top: 0;
 	height: 80%;
 	width: 80%;
 }

 #iconH #dot6 {
 	bottom: 0;
 	left: 0;
 	animation-name: Adot6;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
 }

 @keyframes Adot6 {
  0%,100%   {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 0%; top: 8%; height: 90%; width: 90%;}
 }

 #iconH #doth6 {
 	height: 47.3%;
  width: 19%;
  left: 81%;
  top: 1.2%;
 }

 #iconH #doth6:hover #dot6{
 	left: 1%;
 	bottom: 4%;
 	height: 80%;
 	width: 80%;
 }

 #iconH #dot7 {
 	left: 0;
 	top: 0;
 	animation-name: Adot7;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1.8s;
 }

 @keyframes Adot7 {
  0%   {left: 0px; top: 0px; height: 100%; width: 100%;}
  50%   {left: 0%; bottom: 18%; height: 85%; width: 85%;}
  100%   {left: 0px; top: 0px; height: 100%; width: 100%;}
 }

 #iconH #doth7 {
  right: 0.1%;
  bottom: 2.6%;
 }

 #iconH #doth7:hover #dot7 {
 	height: 80.357%;
 	width: 80.357%;
 }

  #iconH #dot8 {
 	left: 0;
 	bottom: 0;
 	border-radius: 0% 0% 1000px 1000px;
 	height: 50%;
 	animation-name: Adot8;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
 }

 @keyframes Adot8 {
  0%   {left: 0px; bottom: 0px; height: 50%; width: 100%;}
  50%   {left: 0%; bottom: 10%; height: 50%; width: 100%;}
  100%   {left: 0px; bottom: 0px; height: 50%; width: 100%;}
 }

 #iconH #doth8 {
 	height: 50%;
  width: 18.9%;
  left: 40.666%;
  bottom: 3.2%;
 }

 #iconH #doth8:hover #dot8 {
 	height: 51%;
 	width: 102%;
 	left: -1%;
 	bottom: 12%;
 }

 #iconH #dot9 {
 	left: 0;
 	top: 0;
 	border-radius: 1000px 1000px 0% 0%;
 	height: 50%;
 	animation-name: Adot9;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
 }

 @keyframes Adot9 {
  0%   {left: 0px; top: 0px; height: 50%; width: 100%;}
  50%   {left: 0%; top: 12%; height: 50%; width: 100%;}
  100%   {left: 0px; top: 0px; height: 50%; width: 100%;}
 }

 #iconH #doth9 {
 	height: 50%;
  width: 18.9%;
  left: 20.2%;
  top: 1.4%;
 }

 #iconH #doth9:hover #dot9 {
 	height: 51%;
 	width: 102%;
 	left: -1%;
 	top: 12%;
 }

 #iconH #dot10 {
 	left: 0;
 	top: 0;
 	border-radius: 1000px 1000px 0% 0%;
 	height: 50%;
 	animation-name: Adot10;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1.2s;
 }

 @keyframes Adot10 {
  0%   {left: 0px; top: 0px; height: 50%; width: 100%;}
  50%   {left: 0%; top: 12%; height: 50%; width: 100%;}
  100%   {left: 0px; top: 0px; height: 50%; width: 100%;}
 }

 #iconH #doth10 {
 	height: 50%;
  width: 18.9%;
  left: 60.93%;
  top: 1.4%;
 }

 #iconH #doth10:hover #dot10 {
 	height: 51%;
 	width: 102%;
 	left: -1%;
 	top: 12%;
 }

 #iconH .doth:hover .dot {
 	transition: .3s ease;
 }

 #iconH .dother:hover .dot {
 	transition: .3s ease;
 }

 #iconH .dothy:hover .dotty {
 	transition: .28s ease;
 }

@media only screen and (max-width: 980px) {

#iconH {
  display: none;
}

#iconV {
  display: inline-block;
  margin: auto;
  width: 80vw;
  position: relative;
  top: -2vh;
  transition: .4s ease;
  grid-column: 1;
  grid-row: 1;
}